{% extends "base.html" %}
{% block title %}News App{% endblock title %}
{% block content %}
<div class="card-area">
    <div class="row">
        {% for key, value in card.items %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{value.img}}"
                    class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{value.title}}</h5>
                    {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p> {% endcomment %}
                    <a href="{% url 'article' link=value.link %}" class="btn btn-primary" target="_blank">Read Full News...</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}
